In [3]:
import pandas as pd

In [1]:
def format_result(result):
    """Format a pandas result into a string representation.
    
    This function handles the complexity of converting different pandas result types
    into consistent, human-readable string formats. It implements special handling for:
    
    1. Single-value Series - returned as plain scalars without index
    2. Single-cell DataFrames - collapsed to scalar values
    3. Multi-row/column results - formatted as tables without index columns
    
    This consistent formatting is important for providing clear, predictable responses
    to the user regardless of the internal data structures used.
    
    Args:
        result: The pandas result object (DataFrame, Series, or other value)
        
    Returns:
        str: A consistently formatted string representation of the result
    """
    if isinstance(result, pd.Series):
        # Return scalar directly for single-item Series
        # This provides cleaner output for common aggregation operations
        if len(result) == 1:
            return str(result.iloc[0])
        result_str = result.to_string(index=False)
    elif isinstance(result, pd.DataFrame):
        # Collapse to scalar for 1Ã—1 DataFrames
        # This simplifies results for queries that return a single value
        if result.shape == (1, 1):
            return str(result.iat[0, 0])
        result_str = result.to_string(index=False)
    else:
        # For non-pandas types, just use string conversion
        result_str = str(result)
    
    return result_str

In [4]:
df_single = pd.DataFrame([[100]], columns=['Value'])
print("\nExample 3 - Single-cell DataFrame:")
print(format_result(df_single))  # Output: 100

Example 3 - Single-cell DataFrame:
100

In [5]:
df_single.head()

   Value
0    100

In [1]:
import pandas as pd

# Create dummy DataFrame
data = [("John", 28, "New York"), 
        ("Alice", 34, "Chicago"), 
        ("Bob", 45, "Los Angeles"),
        ("Emma", 29, "Miami"),
        ("David", 31, "Seattle")]

columns = ["Name", "Age", "City"]
df_pandas = pd.DataFrame(data, columns=columns)

# 1. head() - most similar to show()
print("Using head():")
print(df_pandas.head())

# 2. Direct display in Jupyter/IPython
print("\nDirect display (in Jupyter this would render as a table):")
display(df_pandas)  # Works in Jupyter/IPython

# 3. to_string() for console output
print("\nUsing to_string():")
print(df_pandas.to_string())

# 4. sample() for random rows
print("\nUsing sample():")
print(df_pandas.sample(2))  # Shows 2 random rows

Using head():
    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

Direct display (in Jupyter this would render as a table):

    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

Using to_string():
    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

Using sample():
    Name  Age         City
4  David   31      Seattle
2    Bob   45  Los Angeles

In [2]:
# 3. to_string() for console output
print("\nUsing to_string():")
print(df_pandas.to_string())

Using to_string():
    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle